* {
    margin: 0;
    padding: 0;
}


.container {
    background-color: #333132;
    width: 100%;
    height: 100%;
}

#biorect, #album1rect, #album2rect {
    transition: opacity 0.5s;
}

#biorect, .st9 {
    animation: fadeIn 1s;

}

/*  SVG STYLES */

.st0 {
    clip-path: url(#SVGID_2_);
    fill: #333132;
    stroke: #000000;
    stroke-miterlimit: 10;
}

.st1 {
    clip-path: url(#SVGID_2_);
}

.st2, .st3, .st4, .st5 {
    fill: #151515;
    animation: float 6s ease-in-out infinite;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
}

.st3 {
    fill: #FFFFFF;
    stroke: #151515;
    stroke-width: 0.4525;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #FFC600;
}

.st5 {
    fill: none;
    stroke: #151515;
    stroke-width: 0.4525;
    stroke-miterlimit: 10;
}

.st6 {
    fill: #FBFCD4;
}

.st7 {
    fill: #FFFFFF;
}

.st8 {
    fill: #FFDD03;
}

.st9 {
    fill: #333132;
}

.st10 {
    font-family: 'Roboto';
    font-weight:300;
}

.st11 {
    font-size: 21.7212px;
}

.st12 {
    font-size: 13.197px;
}

.st13 {
    fill: none;
}

.st14 {
    font-family: 'Roboto';
}

.st15 {
    font-size: 9.503px;
}
/* SVG STYLES END */

/* ANIMATION KEYFRAMES */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes fadeIn {

    from {
        opacity: 1;  
    }
    to {
        opacity: 0;
    }
}