body {
    font-family: roboto;
    margin:0;
    background-color: #333132;
    overflow-x:hidden;
    max-width:100%;
    color: #FFFFFF;
}

/* RAP.IO SHAPE START */
.shape {

    right:-10%;
    bottom: -70%;
    width:65%;
    position: absolute;
    overflow:hidden;
    z-index:-1000;
}

.rapicon {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 25px;
    left: 220px;
    animation: float 4s ease-in-out infinite;
    z-index: 100;
}
.artist {
    color: white;
    position: absolute;
    top: 80px;
    left: 45px;
    font-size: 25px;
    font-weight: 500;
    font-family: roboto;
}
.splashimg1 {
    bottom:0px;
    left:45%;
    width: 90%;
    position: absolute;
}
.artistdesc {
    width: 0vw;
    font-size: 0.75rem;
    font-weight:300;
    top:10%;
    left:65%;
    position: absolute;
    padding:20%;
    padding-right:0%;
}

/* TOP ALBUMS START */
#topalbumsline {
    position: absolute;
    top:63%;
    left:12%;
}

.topalbums {
    position: absolute;
    left:11%;
    top:59%;
}
.album-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:70%;
    left: 9%; 
}

.albumart {
    width:35%;

}