body {
    font-family: roboto;
    margin:0;
    background-color: #333132;
    overflow:hidden;
    max-width:100%;
    color: #FFFFFF;
    max-height:667px;
    max-width:375px;
}


/* RAP.IO SHAPE START */
.shape {

    right:-10%;
    bottom: -70%;
    width:65%;
    position: absolute;
    overflow:hidden;
    z-index:-1000;
    animation: float 4s ease-in-out infinite;

}

.rapicon {
    width: 140px;
    height: 140px;
    position: absolute;
    top: 25px;
    left: 220px;
    z-index: 100;
}
.artist {
    color: white;
    position: absolute;
    top: 80px;
    left: 45px;
    font-size: 25px;
    font-weight: 500;
    font-family: roboto;
}
.splashimg1 {
    bottom:0px;
    left:45%;
    width: 90%;
    position: absolute;
}

/* SEPARATE SPLASH IMG OVERRIDE */

#jdilla {
    left:31%;
    width:130%;
}
#kanye {
    left:28%;
    width:120%;
}
#snoop {
    width:85%;
}
#drdre {
    width:85%;
    left:37%;
}
#tupac {
    width:117%;
    left:38%;
}
#biggie {
    left:45%;
    width:67%;
}
#wutangclan {
    width:71%;
}
#nas {
    width:57%;
}


.artistdesc {
    width: 0vw;
    font-size: 0.75rem;
    font-weight:300;
    top:10%;
    left:65%;
    position: absolute;
    padding:20%;
    padding-right:0%;
}

/* TOP ALBUMS START */
#topalbumsline {
    position: absolute;
    top:63%;
    left:12%;
}

.topalbums {
    position: absolute;
    left:11%;
    top:59%;
}
.album-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:70%;
    left: 9%; 
}

.albumart {
    width:35%;
}

#old {
    color: white;
    background-color: transparent;
    border-radius: 20px;
    width: 95px;
    height: 30px;
    position: absolute;
    top: 310px;
    right: 20px;
    border: 0.5px solid #FBC403;
    font-family: roboto;
    font-weight: 100;
}

#old1 {
    color: white;
    background-color: transparent;
    border-radius: 20px;
    width: 95px;
    height: 30px;
    position: absolute;
    top: 310px;
    right: 125px;
    border: 0.5px solid #FBC403;
    font-family: roboto;
    font-weight: 100;
}