body {
    font-family: roboto;
    margin:0;
    background-color: #333132;
    overflow-x:hidden;
    max-width:100%;
}

/* RAP.IO SHAPE START */
.shape {

    right:0%;
    bottom: 0%;
    width:70%;
    position: absolute;
    overflow:hidden;


}

