#GrandmasterFlash {
    opacity: 0;
    transition: 0.5s;
}
#RunDMC {
    opacity: 0;
    transition: 0.5s;
}
#GrandmasterFlash {
    opacity: 0;
    transition: 0.5s;
}
#SugarhillGang {
    opacity: 0;
    transition: 0.5s;
}
#PublicEnemy {
    opacity: 0;
    transition: 0.5s;
}
#LLCoolJ {
    opacity: 0;
    transition: 0.5s;
}
#SlickRick {
    opacity: 0;
    transition: 0.5s;
}